.logement {
    width: 100%;
    max-width: 1240px;
    min-width: 250px;
    height: 100%;
    border-radius: 25px;
    background-color: #f6f6f6;
    margin-bottom: 50px;
}

.logement_list {
    margin: 0;
    padding: 56px 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 50px;
    column-gap: 60px;
}

.logement_content {
    width: 340px;
    height: 340px;
    position: relative;
}

.logement_list_content {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(0, 0, 0, 0.50) 100%);
    border-radius: 10px;
}

.logement_cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.logement_name {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    bottom: 0;
    padding: 10px 20px;
    color: #FFF;
    font-size: 18px;
    text-transform: capitalize;
}

@media (max-width: 767px) {
    .logement_content {
        width: 335px;
        height: 255px;
    }

    .logement_cover {
        object-fit: cover;
    }

    .logement {
        background-color: #FFF;
        margin-bottom: 27px;
    }

    .logement_list {
        row-gap: 20px;
        padding: 0;
    }
}

@media (min-width: 768px) {
    .logement_list {
        justify-content: space-evenly;
    }
}